:host {
    display: flex;
    justify-content: center;

    .search-input {
        background-color: var(--primary);
        border: 1px var(--border) solid;
        border-radius: 5px;
        color: var(--primary-text);
        padding: 6px;
        line-height: 1.2rem;
        width: 400px;

        &::placeholder {
            color: var(--secondary-text);
        }

        &:focus {
            outline: 1px var(--accent) solid;
        }
    }
}
