body {
    margin: 0;
    overflow: hidden;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img,
picture,
video,
svg {
    display: block;
    max-width: 100%;
}

input,
textarea,
button,
select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

p,
li,
figcaption {
    max-width: 65ch;
    text-wrap: pretty;
}
