/* You can add global styles to this file, and also import other style files */

@import "assets/styles/reset.scss";
@import "assets/styles/theme.scss";

body {
    background-color: var(--primary);
    color: var(--primary-text);
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--primary-text);
    border-bottom-color: var(--accent);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}
